$white: #ffffff;
$main-blue: #3877ee;
$pink: #ef5da8;
$blue-light: #4a65f1;
$guide-opacity: 0.1;
$main-gray: #42567a;
$main-gray-opacity: rgba(66, 86, 122, $guide-opacity);
$gray-border: rgba(48, 62, 88, 0.5);

$arrow-shadow: 0 0 15px rgba($main-blue, $guide-opacity);

$button-size: 56px;
$year-button-size: 6px;
